<!DOCTYPE html>
<html>

<head>
    <title>Maid App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-default" style="height:50px; padding:5px">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="font-weight:bold">MAIDAPP</a>
        </div>
        <!-- <ul class="nav navbar-nav navbar-right active">
            <li><a style="color: grey" href="/">HOME</a></li>
            <li><a style="color: grey" href="/">Signed in as ADMINISTRATOR</a></li>
        </ul> -->
    </nav>


</html>